# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Environment variables
#.env
#.env.local
#.env.development.local
#.env.test.local
#.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build files
*.log
*.pid
*.seed
*.pid.lock

# Cache
.next/
.nuxt/
.cache/

# Local SSL certificates
*.pem
*.key
*.crt

# Database
*.sqlite
*.db

# Temporary files
*.tmp
*.temp
temp/
tmp/

# API keys and secrets
**/config/keys.js
**/config/secrets.js

# Docker
docker-compose.override.yml

# Test coverage
coverage/

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Windsurfrules en Cursor regels (Windows)
!.windsurfrules
!.cursorrules
!.cursorignore